<form action="/" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="btn-group btn-group-justified" id="selector">

    <div class="btn-group" id="button-start">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="line-height:110%;height: 70px;">
    ¿Qué necesitas? </button>
    <%= select_tag(:clinic_type,
   options_for_select(Clinic.select('tipo').all().distinct.map{ |f| [f.tipo, f.tipo]}), :prompt => "Select",:class=>"sub-buscador col-md-12") %>
   </div>


  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="line-height:110%;height: 70px; ">
    Costo</button>
    <%= select_tag(:cost,
     options_for_select(Clinic.select('costo').all().distinct.map{ |f| [f.costo, f.costo]}), :prompt => "Select",:class=>"sub-buscador col-md-12") %>
  </div>

      <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="line-height:110%;height: 70px; ">
   Tiempo para resultados </button>
    <%= select_tag(:time,
      options_for_select(Clinic.select('tiempo').all().distinct.map{ |f| [f.tiempo, f.tiempo]}), :prompt => "Select",:class=>"sub-buscador col-md-12") %>
  </div>


  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="line-height:110%;height: 70px; ">
    ¿Necesitas ayudas? </button>
    <%= select_tag(:help,
     options_for_select(Clinic.select('consejeria').all().distinct.map{ |f| [f.consejeria, f.consejeria]}), :prompt => "Select",:class=>"sub-buscador col-md-12") %>
  </div>

    <div class="btn-group" id="button-endnext">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="line-height:110%;height: 70px; ">
    ¿Dónde?</button>
    <%= select_tag(:direction,
     options_for_select(Clinic.select('direccion').all().distinct.map{ |f| [f.direccion, f.direccion]}), :prompt => "Select",:class=>"sub-buscador col-md-12") %>
  </div>

    <div class="btn-group" id="button-end">
      <%= submit_tag "Busca una prueba",name: "Search" ,class:"btn btn-primary btn btn-default btn-lg"  %>
  </div>
</form>
</div>
