<form action="/" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="btn-group btn-group-justified my-btn-group-responsive" id="selector">

    <div class="btn-group" id="button-start">    
    <%= select_tag(:clinic_type,
    options_for_select(Clinic.select('tipo').all().distinct.map{ |f| [f.tipo, f.tipo]}), :prompt => "¿Qué necesitas?",:class=>"btn btn-primary dropdown-toggle")   %> </div>


  <div class="btn-group">    
    <%= select_tag(:cost,
     options_for_select(Clinic.select('costoi').all().distinct.map{ |f| [f.costoi, f.costoi]}), :prompt => "Costo",:class=>"btn btn-primary dropdown-toggle") %>
  </div>

      <div class="btn-group">   
    <%= select_tag(:time,
      options_for_select(Clinic.select('tiempoi').all().distinct.map{ |f| [f.tiempoi, f.tiempoi]}), :prompt => "Tiempo para resultados",:class=>"btn btn-primary dropdown-toggle") %>
  </div>


  <div class="btn-group">  
      <%= select_tag(:help,
     options_for_select(Clinic.select('consejeriai').all().distinct.map{ |f| [f.consejeriai, f.consejeriai]}), :prompt => "¿Necesitas asesoría?",:class=>"btn btn-primary dropdown-toggle") %>
  </div>

    <div class="btn-group" id="button-endnext">
    <%= select_tag(:direction,
     options_for_select(Clinic.select('direccion').all().distinct.map{ |f| [f.direccion, f.direccion]}), :prompt => "¿Dónde?",:class=>"btn btn-primary dropdown-toggle") %>
  </div>

    <div class="btn-group" id="button-end">
            <div class="btn btn-primary btn btn-default btn-lg">
                <%= submit_tag "Busca una prueba",name: "Search"   %>
            </div>
  </div>
        
</form>
</div>