    <footer class="footer">
        <div class="container">
            <div class="row"> 
                
            <div class="col-sm-2" >
            
                <%= link_to image_tag("03-Fundamenta.svg", alt: "sd", style:"height:150px" ), root_path, id: "logo-fundamenta" %>          
               
            </div>
                
             <div class="col-sm-2" >
            
                <%= link_to image_tag("02-INSP.svg", alt: "sd", style:"height:150px" ), "https://www.insp.mx/", id: "logo-insp" %>
            
            </div>
                
            <div class="col-sm-2" >
                        <%= link_to image_tag("01–MXDigital.svg",alt: "sd", style:"height:150px" ), "http://www.gob.mx/mexicodigital" , id: "logo-mxdigital" %><br>           

            
            
            </div>
                
                
                 <div class="col-sm-2" >
            
					 <%= link_to image_tag("04–ESEH.svg", alt: "sd", style:"height:150px" ), "https://www.sindudas.mx/esentrehombres", id: "logo-eeh" %>

            
            </div>
                
            
                
                
            
                
            <div class="col-sm-2 footer-text">
            <br><br>
                      
            </div>
                
            <div class="col-sm-2 footer-text">
            <br><br>
            <a><b>Contacto</b></a>
            <br> <br>
            <a>Te escuchamos en <a href="mailto:contacto@sindudas.mx" target="_top" id="contacto-mail">contacto@sindudas.mx</a></a> 
            <br> <br>
            <a><b>Acerca</b></a>
            <br><br>
            <a href="/informacion" target="_top" id="acerca-footer">¿Qué es sindudas.mx?</a>   
            </div>              
                
            </div>  
            <br>
        </div>
        <div class="subfooter">
            <div class="container">
                <a style="line-height: 350%;"> <%= link_to image_tag("sd_beta_blanco.svg", alt: "sd", style:"height:50px;color:white;" ), root_path, id: "logo-footer" %></a>
            </div>
            
        </div>


    </footer>
  

   