    <footer class="footer">
        <div class="container">
            <p>
                <%= link_to image_tag("2.png", alt: "sd", style:"height:35px"), root_path, id: "logo2" %>
                
            </p>
            <p>
                <a><%= link_to "Pruebas",   pruebas_path %> | <%= link_to "Información",   informacion_path %></a>
            </p>
            <p>
                <a><%= link_to image_tag("fb.png", alt: "sd", style:"height:35px"), '#', id: "logofb" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to image_tag("twitter.png", alt: "sd", style:"height:35px"), '#', id: "logotw" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to image_tag("github.png", alt: "sd", style:"height:35px"), 'https://github.com/EduardoClark/sd', id: "logogh" %>
                </a>
            </p>
            <p>
                <a href="#">Aviso de privacidad</a>
            </p>
        </div>
    </footer>